<h1>About</h1>
<h3>Mindmaps</h3>
<p>Mindmaps were created by Tony Buzan and you can read more about them on his <a href="http://www.tonybuzan.com" target="_blank">website</a>. They're great ways to visualize information. Each mindmap contains a central idea or "node" with other nodes branching from it. They can be several levels deep depending on the complexity of the central idea. Research indicates the using Mindmaps for studying and memorization are more effective than note taking. You can read more about that <a href="https://www.mindmeister.com/190266643/concept-mapping-mind-mapping-research" target="_blank">here</a>.

<h3>Mappy</h3>
<p>This project is inspired Tony Buzan and Kenneth Kufluk's <a href="https://github.com/kennethkufluk/js-mindmap" target="_blank">js-mindmap</a> project. Kenneth built a script that does good job at displaying and animating mindmaps using plain HTML. I built this app so anyone can create mindmaps using his library (without authoring HTML). I added easy ways to change colors and will be adding a few more options in the future. If you're interested in contributing, it's hosted on <a href="https://github.com/bradyriordan/mappy" target="_blank">Github</a>. 

<h3>Brady Riordan</h3>
I design and develop educational material. I focus on making education more open by developing platforms like this. You can get in touch with me <a href="http://www.bradyriordan.com" target="_blank">here</a>.</p>
