<h1>About</h1>
<h3>Mindmaps</h3>
<p>Mindmaps were invented by [name] in the [date]. They are representations of our brains store information. There have been studies on the effecacy mindmaps
that show they are effective in oranizaing and recalling information. In one such study, Mindmaps were shown to be more effective than note taking.<p>

<h3>Mappy</h3>
<p>This app is inspired by the work of [name] and Kenneth Kufluk's js-mindmap [link] project. It's built using Ruby on Rails by me, Brady Riordan [link]. I design and develop
educational material. I focus on making education more open by creating content platforms like this. You can get in tough with me here [link].</p>
