<h1>Contact</h1>
<h3>Brady Riordan</h3>
<p>I design and develop educational material. I focus on making education more open by developing platforms like this. You can get in touch with me <a href="http://www.bradyriordan.com" target="_blank">here</a>.</p>

